@use 'variables' as *;
@use 'function' as *;

/*共用區*/
img {
    display: block;
    width: 100%;
}

.carousel {
    img {
        object-fit: cover;
        height: 100%;
    }

    .carousel-item {
        height: calc(100vh - 70px);
    }
}

// 導覽列
.navbar {
    height: 70px;

    .navbar-brand {
        img {
            height: 45px;
        }
    }

    .btn-search {
        width: 5rem;
    }
}


.title {
    @include bordered-l;
    padding-left: 1rem;
    position: relative;
    margin: 85px 0 35px;

    &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 11rem;
        //定位時，相對於文字的時候才會用到rem自及去定位，這樣字體變大變小也不會跑版

        width: calc(100% - 11rem);
        // background-color: map-get( $color , dark );
        background-color: #212529;
        height: 3px;
    }

    h3 {
        line-height: 1; //將bootstrap預設值h3的1.2改掉

        span {
            font: {
                size: 1rem;
            }

            ;
        }

    }
}

.mask {
    mask-image: url(../images/mask.svg);
    mask-size: 92% 100%;
    mask-position: center;
    mask-repeat: no-repeat;

    @media($media-md) {
        mask-size: 90% 100%;
    }

    @media($media-lg) {
        mask-size: 92% 100%;
    }

}

.mask-2 {
    mask-image: url(../images/blobs-1.svg);
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
}

/*最新商品*/
#new {
    a {
        position: relative;
        color: map-get($color , light);

        &:hover {
            h2 {
                opacity: 1;
            }
        }

        h2 {
            opacity: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: map-get($color , alpha-b-40);
        }
    }

}

#hot {
    .col {
        position: relative;

        h2 {
            position: absolute;
            top: calc(50% - 2rem);
            left: calc(50% - 6rem);
            color: map-get($color, light);
            text-shadow: 1px 1px 3px map-get($color, dark);
            z-index: 2;
        }

        .clip {
            position: relative;
            display: block;
            //  clip-path: circle(50%);
            // clip-path: ellipse(50% 30% at 50% 50%);
            // xy50% 50%為致中

            clip-path: polygon(0 0, 100% 0%, 50% 100%);

            &:hover {
                &::before {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    background-color: map-get($color, alpha-b-40);
                }
            }

        }
    }
}



#tabs {
    width: 80%;
    margin: 0 auto;

    >* {
        margin-bottom: 1rem;
    }

    .content {
        h2 {
            display: inline;
            color: map-get($color , light);
            background-color: black;
            padding: 0px 12px;
            box-shadow: $box-shadow-mark;
        }

        data {
            display: block;
        }

        mark {
            font-weight: 500;
            font-size: map-get($font-size, 1);
            background-color: greenyellow;
        }
    }


}

.tabs-btn {
    display: flex;

    li {
        flex: 1;

    }
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid map-get($color, deep);
    background: transparent;
    // 修改頁籤樣式
}

.ui-tabs .ui-tabs-nav li {
    // 把下底線補回來
    border-bottom-width: 1;
    border: 3px;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
    // 取消圖片間距    
}

.ui-widget-header {
    border: 1px solid #dddddd;
    background: #e9e9e9;
    color: #333333;
    font-weight: bold;
}

// 頁籤內容
.ui-tabs .ui-tabs-panel {
    display: flex;

    >div {
        // >用在選第一層時
        flex: 1;
    }

}

footer {
    margin-top: 10px;
    padding: 10%;
    text-align: center;

}

.last-box {
    width: 100%;
    height: 20%;
    background-color: map-get($color, alpha-r-40);
    // 帶入@mixin設定的樣式(變數)
    // 至中
    @include flex-center;
    // 外距
    padding: map-get($interval, l);

    img {
        width: 100px;
        height: auto;
    }

    .text-content {
        text-align: justify;
        @include multiple-ellipsis;
        margin-left: map-get($interval, m);
    }
}