@use "variable" as *;

// 水平置中
%flex-center{
    display: flex;
    justify-content: center;
}

// 垂直置中
%flex-column-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

// 背景影子
%bg-shadow{
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/bg-shadow.jpg);
        background-size: cover;
        background-position: bottom;
        opacity: .3;
        // z-index: -1;
    }
}

// 白色下底線
%white-border-bottom{
    border-bottom: #fff 1px solid;
}
