//變數設定
$font-size-s: .85rem;
$font-size-m: 1rem;
$font-size-l: 1.5rem !default;
/*!default預設值權重最低*/

$color: red;

//定義前綴詞->方便管理取簡稱的感覺
$navigatiov: nev;

//
$interval: (
    //間距
    s:5px,
    m:10px,
    l:15px,
);

.footer {
    margin: map-get($interval, s);
}


.navigation {

    .menu {
        display: flex;
        margin: 15px 0;
        padding: 10px;
        border-radius: 99px;
        $color: blue;

        li {
            color: $color;
            border-right: solid 2px #777;

            &:last-child {
                border-right: none;
                /* 把最後一個的右邊|拔掉 */
            }
        }

        a {
            margin: 0 10px;
            font-size: $font-size-l;
            line-height: 1;
            /* 控制|的高度，寫1就是16px */
            border-bottom: solid 2px transparent;
            /* transparent為透明 */
            transition: 0.35s;

            &:hover {
                border-bottom: solid 2px #777;
            }
        }
    }
}

#contact {

    position: relative;
    overflow: hidden;

    background: {
        image: url(../images/bg_contact.jpg);
        size: cover;
        position: center center;
        repeat: no-repeat;
        attachment: fixed;
    }

    padding: 20px;
}