@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Kaku+Gothic+New&display=swap");
body .flex-center, body section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

body .box-width, body #footer .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #exhibition-area::before, body #footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-shadow.jpg);
  background-size: cover;
  background-position: bottom;
  opacity: 0.3;
}

body #navbar .nav-item:hover ::before, body #news-area #btn-more {
  border-bottom: #fff 1px solid;
}

body #news-area .list-group .news-list p {
  overflow: hidden; /* 多出來時則省略 */
  text-overflow: ellipsis;
  white-space: nowrap; /* 不換行 */
}

body .shown, body #news-area .list-group .news-list:hover {
  transition: all 0.3s linear;
}

body {
  font-family: "Inria Serif", serif !important;
  position: relative;
  background-color: #EEEEEC;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-paper.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
body .title-black {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  position: relative;
  color: black;
}
body .title-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: black 2px solid;
  border-bottom: black 2px solid;
}
body .title-white {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  position: relative;
  color: #EEEEEC;
}
body .title-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: #EEEEEC 2px solid;
  border-bottom: #EEEEEC 2px solid;
}
body .text-content-l {
  font-size: 1.5rem;
}
body .text-content-m {
  font-size: 1rem;
}
body section {
  width: 100%;
  height: auto;
}
body p {
  text-align: justify;
  line-height: 1.6;
}
body .box-width {
  width: 80%;
  padding: 2.5rem 0;
}
@media (max-width: 576px) {
  body .box-width {
    padding: 1.5rem 0;
  }
}
body .box-width80 {
  width: 80%;
  padding: 2.5rem 0;
}
body .article-width {
  width: 40%;
  letter-spacing: 1px;
}
body .title-padding {
  padding: 2.5rem 0;
}
body .finger {
  cursor: pointer;
}
body .hidden {
  opacity: 0;
  /* 初始隱藏 */
}
body .shown {
  opacity: 1;
}
body #navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
@media (max-width: 576px) {
  body #navbar {
    background-color: rgba(83, 124, 163, 0.5);
  }
}
body #navbar .navbar-brand {
  position: relative;
}
body #navbar .navbar-brand #logo {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40px;
  height: 40px;
}
body #navbar .nav-item {
  position: relative;
}
body #navbar .nav-item:hover ::before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 5%;
  width: 90%;
  height: 100%;
}
@media (max-width: 576px) {
  body #navbar .nav-item:hover ::before {
    left: 0%;
  }
}
body #carouselExampleCaptions {
  height: 500px;
  overflow: hidden;
}
body #carouselExampleCaptions .carousel-inner {
  height: 100%;
}
body #carouselExampleCaptions .carousel-item {
  height: 100%;
}
body #carouselExampleCaptions .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body .introduce-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  gap: 3rem;
  padding: 5rem 0;
}
@media (max-width: 992px) {
  body .introduce-box {
    gap: 2rem;
  }
}
@media (max-width: 768px) {
  body .introduce-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}
body .introduce-box .introduce-img img {
  width: 400px;
  height: auto;
  border: black 2px solid;
}
@media (max-width: 992px) {
  body .introduce-box .introduce-img img {
    width: 240px;
  }
}
body .introduce-box #introduce-content {
  padding-top: 4px;
}
@media (max-width: 768px) {
  body .introduce-box #introduce-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body .introduce-box #introduce-content p {
  padding-top: 3rem;
}
@media (max-width: 992px) {
  body .introduce-box #introduce-content p {
    padding-top: 2rem;
  }
}
body #introduce2 {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-image: url(../images/img2-blue.jpg);
  background-size: cover;
  background-position: center center;
}
@media (max-width: 576px) {
  body #introduce2 {
    height: 120dvh;
  }
}
@media (max-width: 391px) {
  body #introduce2 {
    height: 130dvh;
  }
}
@media (max-width: 376px) {
  body #introduce2 {
    height: 170dvh;
  }
}
body #introduce2 #introduce-content2 {
  color: #EEEEEC;
  position: absolute;
  bottom: 0;
}
@media (max-width: 576px) {
  body #introduce2 #introduce-content2 {
    top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
body #exhibition-area {
  position: relative;
}
body #exhibition-area .owl-slider {
  /* 整個輪播 */
  padding: 2rem;
  width: 100%;
}
body #exhibition-area .owl-slider .owl-carousel {
  /* 圖片區，用內距把按鈕推出去 */
  padding: 0 60px;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #EEEEEC;
  border: none;
  transition: all 0.8s ease-in-out;
  z-index: 10;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button:focus {
  outline: none;
}
body #exhibition-area .owl-slider .owl-carousel .owl-item {
  height: 300px !important;
  display: flex;
}
body #exhibition-area .owl-slider .owl-carousel .item {
  width: 100%;
  height: 100%;
  border: black 2px solid;
  position: relative;
}
body #exhibition-area .owl-slider .owl-carousel .item img {
  height: 100%;
  object-fit: cover;
}
body #exhibition-area .owl-slider .owl-carousel .item .exhibition-info {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  text-shadow: 0 0 4px #3c3c3c;
  background-color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 992px) {
  body #exhibition-area .owl-slider .owl-carousel .item .exhibition-info {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0);
  }
}
body #exhibition-area .owl-slider .owl-carousel .item .exhibition-info p {
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  left: 8%;
  color: #EEEEEC;
}
@media (max-width: 768px) {
  body #exhibition-area .owl-slider .owl-carousel .item .exhibition-info p {
    width: 5%;
  }
}
body #exhibition-area .owl-slider .owl-carousel span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
body #blue-area {
  background-color: #AAD2E9;
}
body #news-area {
  background-image: url(../images/img3-perple.jpg);
  background-size: cover;
}
body #news-area .list-group {
  padding-bottom: 1.5rem;
}
body #news-area .list-group .news-list {
  color: #EEEEEC;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}
body #news-area .list-group .news-list:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
body #footer {
  position: relative;
  background-color: #F6F0E0;
}
body #footer .footer {
  padding: 1rem 0 !important;
  width: 80%;
}
body #footer .footer p {
  font-size: 0.5rem;
  color: #B35C37;
}/*# sourceMappingURL=style.css.map */