@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Kaku+Gothic+New&display=swap");
body .flex-center, body section, body .introduce-box {
  display: flex;
  justify-content: center;
}

body .box-width {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body #exhibition-area::before, body #footer::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-shadow.jpg);
  background-size: cover;
  background-position: bottom;
  opacity: 0.3;
}

body {
  font-family: "Inria Serif", serif !important;
  position: relative;
  background-color: #EEEEEC;
}
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/bg-paper.jpg);
  background-size: cover;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}
body .title-black {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  position: relative;
  color: #111;
}
body .title-black::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: #111 2px solid;
  border-bottom: #111 2px solid;
}
body .title-white {
  font-size: 2rem;
  padding: 0.5rem 3rem;
  position: relative;
  color: white;
}
body .title-white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: white 2px solid;
  border-bottom: white 2px solid;
}
body .text-content-l {
  font-size: 1.5rem;
}
body .text-content-m {
  font-size: 1rem;
}
body section {
  width: 100%;
}
body .box-width {
  width: 80%;
  padding: 2.5rem 0;
}
body .box-width80 {
  width: 80%;
  padding: 2.5rem 0;
}
body .article-width {
  width: 40%;
  letter-spacing: 1px;
}
body .title-padding {
  padding: 2.5rem 0;
}
body .finger {
  cursor: pointer;
}
body .scroll-text {
  opacity: 0; /* 初始隱藏 */
}
body .navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
body #carouselExampleCaptions {
  width: 100%;
  height: 96dvh;
  border: #111 1px solid;
}
body #carouselExampleCaptions .banner-view {
  width: 100%;
  height: 100%;
}
body .introduce-box {
  width: 80%;
  gap: 3rem;
  padding: 5rem 0;
}
body .introduce-box .introduce-img img {
  width: 100%;
  border: #111 2px solid;
}
body #introduce2 {
  position: relative;
  width: 100%;
  height: 100dvh;
  background-image: url(../images/img2-blue.jpg);
  background-size: cover;
  background-position: center center;
}
body #introduce2 #introduce-content2 {
  color: #fff;
  position: absolute;
  bottom: 0;
}
body #exhibition-area {
  position: relative;
}
body #exhibition-area .owl-slider {
  /* 整個輪播 */
  padding: 2rem;
}
body #exhibition-area .owl-slider .owl-carousel {
  /* 圖片區，用內距把按鈕推出去 */
  padding: 0 60px;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  border: none;
  transition: all 0.8s ease-in-out;
  z-index: 10;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
body #exhibition-area .owl-slider .owl-carousel .owl-nav button:focus {
  outline: none;
}
body #exhibition-area .owl-slider .owl-carousel .owl-item {
  height: 300px !important;
  display: flex;
}
body #exhibition-area .owl-slider .owl-carousel .item {
  width: 100%;
  height: 100%;
  border: #111 2px solid;
}
body #exhibition-area .owl-slider .owl-carousel .item img {
  height: 100%;
  object-fit: cover;
}
body #exhibition-area .owl-slider .owl-carousel span {
  font-size: 70px;
  position: relative;
  top: -5px;
}
body #blue-area {
  background-color: #AAD2E9;
}
body #news-area {
  background-image: url(../images/img3-perple.jpg);
  background-size: cover;
}
body #news-area .news-list {
  color: #EEEEEC;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0;
}
body #news-area #btn-more {
  border-bottom: #fff 1px solid;
}
body #footer {
  position: relative;
  background-color: #F6F0E0;
}/*# sourceMappingURL=style.css.map */