// 字級規範 map-get( $font-size ,  );
$font-size:(
    s: .85rem,
    m: 1rem,
    l: 1.5rem,
    xl: 1.8rem
);
// 字體規範
$font-family-display: "Dancing Script", cursive;
$font-family-title: LEMONMILK, sans-serif;
$font-family-tc:"Noto Sans TC", sans-serif;
$font-family-en:"open-sans", sans-serif;