// @use "color" as *;
// @use "extend" as *;
// @use "mixin" as *;
@use "variable" as *;
@use "extend" as *;
@use "mixin" as *;

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Zen+Kaku+Gothic+New&display=swap');





body {
    font-family: 'Inria Serif', serif !important;
    position: relative;
    background-color: #EEEEEC;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/bg-paper.jpg);
        background-size: cover;
        background-position: center;
        opacity: .2;
        z-index: -1;
    }

    // 字體大小定義
    .title-black {
        @include title(#111);
    }

    .title-white {
        @include title(white);
    }

    .text-content-l {
        font-size: map-get($font-size, l);
    }

    .text-content-m {
        font-size: map-get($font-size, m);
    }
    .flex-center{
        display: flex;
        justify-content: center;
    }


    // 寬度
    section {
        width: 100%;
        @extend %flex-center;
    }

    .box-width {
        width: 80%;
        padding: map-get($interval, m) 0;
        @extend %flex-center;
    }

    .article-width {
        width: 40%;
        letter-spacing: 1px;
    }

    // 上下內距
    .title-padding {
        padding: map-get($interval, m) 0;
    }


    // 導覽列
    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 999;
    }

    // 輪播
    #carouselExampleCaptions {
        width: 100%;
        height: 96dvh;
        border: #111 1px solid;

        .banner-view {
            width: 100%;
            height: 100%;

        }

    }

    // 莫內介紹
    .introduce-img {
        img {
            border: #111 2px solid;
        }

    }

    // 抽想派介紹
    #introduce2 {
        position: relative;
        width: 100%;
        height: 100dvh;
        background-image: url(../images/img2-blue.jpg);
        background-size: cover;


        #introduce-content2 {
            color: #fff;
            position: absolute;
            bottom: 0;
        }
    }


    // 展覽輪播
    #exhibition-area {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/bg-shadow.jpg);
            background-size: cover;
            background-position: bottom;
            opacity: .2;
            // z-index: -1;
        }


        .owl-slider {
            /* 整個輪播 */
            padding: 2rem;

            .owl-carousel {
                /* 圖片區，用內距把按鈕推出去 */
                padding: 0 60px;


                .owl-nav {
                    button {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        // background: rgba(255, 255, 255, 0.38);
                        color: #fff;
                        border: none;
                        transition: all 0.8s ease-in-out;
                        z-index: 10;

                        &.owl-prev {
                            left: 0;
                        }

                        &.owl-next {
                            right: 0;
                        }

                        &:focus {
                            outline: none;
                        }
                    }
                }


                .owl-item {
                    height: 300px !important;
                    display: flex;
                }

                .item {
                    width: 100%;
                    height: 100%;
                    border: #111 2px solid;

                    img {
                        height: 100%;
                        object-fit: cover;
                    }
                }

                span {
                    font-size: 70px;
                    position: relative;
                    top: -5px;
                }

            }
        }
    }

    #blue-area {
        height: 100%;
        background-color: #AAD2E9;

    }

    // 最新消息
    #news-area {
        background-image: url(../images/img3-perple.jpg);
        background-size: cover;
    }


}